{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <h1>Welcome to Fitness Club!</h1>
            <div>
                <a href="{{ path('profile_notifications_settings') }}" class="btn btn-default" role="button">Enter Customers Area</a>
                <a href="{{ path('admin_customers_index') }}" class="btn btn-default" role="button">Enter Admin Area</a>
            </div>
        </div>
    </div>
{% endblock %}
