{% extends 'base.html.twig' %}

{% block body %}

    {% include ':default:admin_nav.html.twig' with {'pill': 'trainers', 'header_text': 'Trainer creation'} %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" role="button"/>
    {{ form_end(form) }}

    <div>
        <a href="{{ path('admin_trainers_index') }}" class="btn btn-default" role="button">Back to the list</a>
    </div>

{% endblock %}
