{% extends 'base.html.twig' %}

{% block body %}

    {% include ':default:admin_nav.html.twig' with {'pill': 'groupactivities', 'header_text': 'Group activity edit'} %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary" role="button"/>
    {{ form_end(edit_form) }}

    <div>
        <a href="{{ path('admin_groupactivities_index') }}" class="btn btn-default" role="button">Back to the list</a>
    </div>
{% endblock %}
