{% extends 'base.html.twig' %}

{% block body %}
    <h3>Set password and activate account</h3>

    {{ form_start(customer_password_form) }}
    <div class="form-group">
        {{ form_widget(customer_password_form) }}
    </div>
    <div class="form-group">
        <input type="submit" value="Set password" class="btn btn-primary" role="button"/>
    </div>
    {{ form_end(customer_password_form) }}

{% endblock %}
